# Зависимости (их качают через npm install, на гите они не нужны)
node_modules/
**/node_modules/

# Сборки
dist/
build/
**/dist/

# Секретные ключи и настройки окружения
.env
**/.env

# Логи и системные файлы
*.log
.DS_Store
.vscode/